<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schoolschedulejava">

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="School Schedule"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewTermActivity"
            android:label="@string/view_term_activity_label"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolschedulejava.MainActivity" />
        </activity>
        <activity
            android:name=".AddCourseActivity"
            android:label="@string/add_term_activity_label"
            android:parentActivityName=".ViewTermActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolschedulejava.ViewTermActivity" />
        </activity>
        <activity
            android:name=".ViewCourseActivity"
            android:label="@string/course_view"
            android:parentActivityName=".ViewTermActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolschedulejava.ViewTermActivity" />
        </activity>
        <activity
            android:name=".EditAssessmentsActivity"
            android:label="@string/edit_assessment"
            android:parentActivityName=".ViewAssessmentsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolschedulejava.ViewAssessmentsActivity" />
        </activity>
        <activity
            android:name=".EditCourseActivity"
            android:label="@string/edit_course"
            android:parentActivityName=".ViewCourseActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.schoolschedulejava.ViewCourseActivity" />
        </activity>
        <activity
            android:name=".ViewAssessmentsActivity"
            android:label="@string/view_assessments"
            android:parentActivityName=".ViewCourseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolschedulejava.ViewCourseActivity" />
        </activity>

        <provider
            android:name=".TermProvider"
            android:authorities="com.example.schoolschedulejava.termprovider"
            android:exported="false" />
        <provider
            android:name=".AssessmentProvider"
            android:authorities="com.example.schoolschedulejava.assessmentprovider"
            android:exported="false" />
        <provider
            android:name=".MentorProvider"
            android:authorities="com.example.schoolschedulejava.mentorprovider"
            android:exported="false" />
        <provider
            android:name=".CourseProvider"
            android:authorities="com.example.schoolschedulejava.courseprovider"
            android:exported="false" />
        <provider
            android:name=".CourseWithExtrasProvider"
            android:authorities="com.example.schoolschedulejava.coursewithextrasprovider"
            android:exported="false" />

        <receiver
            android:name=".AssessmentBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".CourseBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".CourseNotifyService"
            android:exported="false" />
    </application>

</manifest>